*-build-*
*.[Rr]e[Ss]harper
*.a
*.aps
*.cachefile
*.dll
*.dylib
*.filters
*.ilk
*.la
*.lai
*.lo
*.log
*.meta
*.ncb
*.o
*.obj
*.opensdf
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.pro.user
*.pro.user.*
*.psess
*.rsp
*.sbr
*.scc
*.sdf
*.slo
*.so
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
.builds
.DS_Store
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]est[Rr]esult*/
_UpgradeReport_Files/
Backup*/
build/
Desktop.ini
ehthumbs.db
GeneratedFiles/
Makefile
moc_*.cpp
qrc_*.cpp
qtwin.*
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
Win32/
x64/
src/QtBitcoinTrader
src/ui_*.h
src/.ui/*

*.autosave
