*.autosave
*.cache
*.DS_Store
*.filters
*.lastbuildstate
*.log
*.manifest
*.obj
*.opensdf
*.pdb
*.res
*.sdf
*.sln
*.suo
*.tlog
*.user
*.user.*
*.vcxproj
*.vcxproj*
/[Dd]ebug/*
/GeneratedFiles/*
/ipch/*
/[Rr]elease/*
/Win32/*
/x64/*
*/[Dd]ebug/*
*/GeneratedFiles/*
*/ipch/*
*/[Rr]elease/*
*/Win32/*
*/x64/*
.DS_Store